<!-- 使用ejs文件作为模板 -->
<div class="layer">
	<!-- start -->
	<!-- 在模板文件中引用图片文件，如果使用绝对路径地址，那么在打包后生成的页面中可以正常显示到所引用的图片，但是如果使用如下相对地址，就会出现问题，在页面中该src地址并为被替换，这就导致模板中该图片加载失败。
	<img src="../../assets/1.gif" /> 
    解决方法：在src中加入${require('../../assets/1.gif')}，这样就可以在打包后正常显示
    -->
	<!-- end -->
	<!-- 在模板中引用图片相对路径的方法： -->
	<img src="${ require('../../assets/1.gif') }" />
	<div>this is <%= name %> layer</div>
	<% for(i=0; i<arr.length; i++){ %>
		<%= arr[i] %>
	<% } %>
</div>